.about {
  background-color: #0a2750;
  background-size: cover;
  background-repeat: repeat;
  position: absolute;
}

.about__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 251px;
  top: 100px;
  left: 80px;
}

.about__content {
  max-width: 660px;
  right: 80px;
}

.about__paragraph {
}

.about__circle {
}
